.picker {
  height: 56px;
  padding: 18px !important;
  width: 400px;
  background-color: var(--soft-gray);
  border: none;
  border-radius: 10px;
}

.icon {
  top: 18px;
  right: 18px;
  padding: 0 !important;
}

.error {
  border: 1px solid var(--cherry-red);
}