.filterBar {
  width: 360px;
  height: 100%;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.inputField {
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
  color: rgba(16, 24, 40, 0.60);
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 32px;
}

.form .inputField > input {
  padding-left: 44px;
}

.inputFieldIcon {
  position: absolute;
  width: 18px;
  height: 20px;
  bottom: 18px;
  left: 18px;
  stroke: rgba(16, 24, 40, 0.60);
  transition: var(--transition);
}

.inputFieldIcon.activeInputFieldIcon {
  stroke: var(--midnight-navy);
}

.filters {
  color: var(--steel-gray);
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 14px;
}