.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title {
  margin-bottom: 10px;
}

.metaInfo {
  margin-bottom: 16px;
}

.descriptionContainer {
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 24px;
  height: calc(100% - 134px);
}

.descriptionContainer::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
  position: relative;
  right: 20px;
}

.descriptionContainer::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background-color: #D9D9D9;
}

.imageList {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}

.imageList > li {
  width: calc(100% - (16px * 2) /3);
  height: 310px;
}

.description {
  color: var(--steel-gray);
}

.descriptionWrapper {
  max-height: 72px;
  overflow: hidden;
  position: relative;
  margin-bottom: 44px;
}

.descriptionWrapper > p {
  transition: var(--transition);
}

.visibleTextWrapper {
  max-height: 100%;
  overflow: visible;
}

.descriptionWrapper > span {
  position: absolute;
  cursor: pointer;
  z-index: 10px;
  bottom: 0;
  right: 0;
  background-color: var(--total-white);
  padding-left: 5px;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-color: var(--cherry-red);
  transition: var(--transition);
}

.descriptionWrapper.visibleTextWrapper > span {
  bottom: -26px;
  left: 0;
}