:root {
  font-family: Inter, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--midnight-navy);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root::-webkit-scrollbar {
  display: none;
}

.section {
  width: 100%;
  padding: 100px 0;
}

.container {
  width: 1440px;
  padding: 0 64px;
  margin: 0 auto;
  display: flex;
  gap: 64px;
}

.button {
  height: 56px;
  width: 166px;
  padding: 16px 40px;
  border-radius: 200px;
  background-color: var(--cherry-red);
  color: var(--total-white);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.05em;
  transition: all 300ms ease-in;
}

.button:hover {
  background-color: var(--crimson-red);
}

.camperTitle,
.camperPrice {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
}