.container {
  width: 1440px;
  height: 100%;
  padding: 0 64px;
  margin: 0 auto;
}

.button {
  height: 56px;
  width: 166px;
  border-radius: 200px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.05em;
  transition: var(--transition);
}

.camperTitle,
.camperPrice {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
}

.imgWrapper {
  width: 290px;
  height: 310px;
}

.imgWrapper > img {
  border-radius: 10px;
  height: 100%;
  object-fit: cover;
}