:root {
  --midnight-navy: #101828;
  --steel-gray: #475467;
  --cherry-red: #E44848;
  --golden-sun: #FFC531;
  --cloud-white: #F2F4F7;
  --soft-gray: #F7F7F7;
  --crimson-red: #D84343;
  --total-white: #FFFFFF
}