.loadMoreButton {
  width: 145px;
  padding-left: 32px;
  padding-right: 32px;
  background-color: var(--total-white);
  border: 1px solid rgba(71, 84, 103, 0.20);
  color: var(--midnight-navy);
  transition: all 300ms ease;
}

.loadMoreButton:hover {
  border-color: var(--crimson-red);
  background-color: var(--total-white);
}

.allResults {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-color: var(--cherry-red);
  text-decoration-thickness: 2px;
}