.loadMoreButton {
  height: 56px;
  width: 166px;
  padding: 16px 32px;
  border-radius: 200px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.05em;
  background-color: var(--total-white);
  border: 1px solid rgba(71, 84, 103, 0.20);
  color: var(--midnight-navy);
  transition: all 300ms ease;
}

.loadMoreButton:hover {
  border-color: var(--crimson-red);
}