.formContainer {
  width: 448px;
  padding: 24px;
  border-radius: 10px;
  border: 1px solid rgba(16, 24, 40, 0.20);
  height: fit-content;
}

.title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 8px;
}

.subtitle {
  color: var(--steel-gray);
  margin-bottom: 24px;
}

.form {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.textareaWrapper {
  position: relative;
  transition: var(--transition);
  height: 114px;
  margin-bottom: 10px;
}

.textarea {
  width: 100%;
  border-radius: 10px;
  background-color: var(--soft-gray);
  padding: 18px;
  line-height: 1.25;
  height: 100%;
}

.textareaWrapper.error .textarea {
  border: 1px solid var(--cherry-red);
}

.textareaWrapper.error > span {
  position: absolute;
  font-size: 13px;
  color: var(--crimson-red);
  padding-left: 5px;
  line-height: 1;
  left: 0;
  top: calc(100% + 2px);
}

.textarea::placeholder {
  color: rgba(16, 24, 40, 0.60)
}

.submitBtn {
  padding: 16px 60px;
  background-color: var(--cherry-red);
  color: var(--total-white);
}

.submitBtn:hover {
  background-color: var(--crimson-red);
}