.formContainer {
  width: 448px;
  padding: 24px;
  border-radius: 10px;
  border: 1px solid rgba(16, 24, 40, 0.20);
  height: fit-content;
}

.title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 8px;
}

.subtitle {
  color: var(--steel-gray);
  margin-bottom: 24px;
}

.form {
  width: 400px;
  display: flex;
  flex-direction: column;
}

.inputWrapper,
.textareaWrapper {
  transition: var(--transition);
}

.inputWrapper {
  margin-bottom: 14px;
}

.textareaWrapper {
  margin-bottom: 24px;
}

.inputWrapper.error {
  margin-bottom: 8px;
}

.textareaWrapper.error {
  margin-bottom: 18px;
}

.textareaWrapper.error > textarea {
  border: 1px solid var(--cherry-red);
}

.textareaWrapper > textarea {
  width: 100%;
  border-radius: 10px;
  background-color: var(--soft-gray);
  padding: 18px;
  line-height: 1.25;
  border: none;
  resize: none;
  height: 114px;
}

.inputWrapper > span,
.textareaWrapper > span {
  font-size: 14px;
  color: var(--crimson-red);
  padding-left: 5px;
  line-height: 1;
}

.textareaWrapper > textarea::placeholder {
  color: rgba(16, 24, 40, 0.60)
}

.submitBtn {
  padding: 16px 60px;
  background-color: var(--cherry-red);
  color: var(--total-white);
}

.submitBtn:hover {
  background-color: var(--crimson-red);
}