.featuresList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.feature {
  padding: 12px 18px;
  border-radius: 100px;
  background-color: var(--cloud-white);
  display: flex;
  gap: 8px;
  width: fit-content;
}

.featuresIcon {
  width: 20px;
  height: 20px;
}

.featuresLabel {
  font-weight: 500;
  line-height: 1.25;
}