.textWrapper {
  width: 526px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.titleWrapper > .title {
  max-width: 350px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.priceWrapper {
  position: relative;
  display: flex;
  gap: 10px;
  align-items: center;
}

.supportingText {
  color: var(--steel-gray);
}

.showMoreButton {
  padding: 16px 40px;
  color: var(--total-white);
  background-color: var(--cherry-red);
}

.showMoreButton:hover {
  background-color: var(--crimson-red);
}